<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ChocoFer</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/bootstrap.css') }}" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/slick-theme.css') }}" />
  <!-- font awesome style -->
  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/font-awesome.min.css') }}" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/style.css') }}" />
  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/responsive.css') }}" />

</head>

<body class="sub_page">

  <div class="main_body_content">

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{{ url_for('home') }}">
              ChocoFer
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('quienes_somos') }}"> Quienes Somos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('servicios') }}">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('noticias') }}">Noticias</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contacto') }}">Contactos</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- Sobre section -->

    <section class="Sobre_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Sobre Nuestra Compañia
                </h2>
              </div>
              <p>
                En Chocolates Fernando, nuestra pasión es crear experiencias dulces que deleiten 
                tus sentidos. Desde nuestros humildes comienzos, nos hemos dedicado a la elaboración 
                de chocolates artesanales de la más alta calidad, utilizando ingredientes cuidadosamente 
                seleccionados y recetas que combinan tradición e innovación.</p>
              <a href="#">
                <span>
                  Read More
                </span>
                <img src="{{ url_for('static',filename='template//images/color-arrow.png') }}" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <div class="row">
              <div class="detail-box col-md-6">
                <div class="heading_container">
                  <h2>
                    Misión
                  </h2>
                </div>
                <p>
                  Deleitar a nuestros clientes con experiencias de sabor únicas y memorables a través 
                  de la creación artesanal de chocolates de alta calidad, elaborados con pasión, 
                  ingredientes selectos y un toque distintivo boliviano. Buscamos endulzar momentos 
                  especiales, fomentar la cultura del buen chocolate y generar valor para nuestros 
                  colaboradores y la comunidad.</p>
              </div>
              <div class="detail-box col-md-6">
                <div class="heading_container">
                  <h2>
                    Visión
                  </h2>
                </div>
                <p>
                  Ser la chocolatería artesanal líder y referente en Bolivia, reconocida por nuestra 
                  excelencia en sabor, calidad e innovación. Aspiramos a expandir nuestra presencia, 
                  manteniendo nuestra esencia artesanal y compromiso con la sostenibilidad, para 
                  compartir la pasión por el chocolate boliviano con un público cada vez más amplio, 
                  tanto a nivel nacional como internacional.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <div class="row">
              <div class="card" style="width: 18rem;">
                <img src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyZmlsfGVufDB8fDB8fHww" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gerente</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyZmlsfGVufDB8fDB8fHww" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sub Director</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyZmlsfGVufDB8fDB8fHww" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ejecutivo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyZmlsfGVufDB8fDB8fHww" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Secretario</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{{ url_for('static',filename='template//images/Sobre-img.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end Sobre section -->


    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row info_form_social_row">
          <div class="col-md-8 col-lg-9">
            <div class="info_form">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">

            <div class="social_box">
              <a href="https://www.facebook.com/paratichocolates/?locale=es_LA">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://x.com/chocolatebaure">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/elceibo.bolivia/?hl=es">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row info_main_row d-flex justify-content-between">
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h4>
                Menu
              </h4>
              <div class="info_links_menu">
                <a href="{{ url_for('home') }}">
                  Inicio
                </a>
                <a href="{{ url_for('quienes_somos') }}">
                  Quienes Somos
                </a>
                <a href="{{ url_for('servicios') }}">
                  Servicios
                </a>
                <a href="{{ url_for('noticias') }}">
                  Noticias
                </a>
                <a href="{{ url_for('contacto') }}">
                  Cotacto
                </a>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <h4>
              Contactanos
            </h4>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Ubicación
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  llame a +591 77678377
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  ChocoFer@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

  </div>

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <b>ChocoFer</b>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script  src="{{ url_for('static', filename='template/js/jquery-3.4.1.min.js') }}"></script>
  <!-- bootstrap js -->
  <script  src="{{ url_for('static', filename='template/js/bootstrap.js') }}"></script>
  <!-- slick slider -->
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script  src="{{ url_for('static', filename='template/js/custom.js') }}"></script>

</body>

</html>