<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ChocoFer</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/bootstrap.css') }}" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/slick-theme.css') }}" />
  <!-- font awesome style -->
  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/font-awesome.min.css') }}" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/style.css') }}" />
  <!-- responsive style -->
  <link rel="stylesheet" href="{{ url_for('static',filename='template/css/responsive.css') }}" />

</head>

<body class="sub_page">

  <div class="main_body_content">

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{{ url_for('home') }}">
              ChocoFer
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('quienes_somos') }}"> Quienes Somos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('servicios') }}">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('noticias') }}">Noticias</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contacto') }}">Contactos</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- Sobre section -->

    <section class="Sobre_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Sobre la Historia de la Compañia
                </h2>
              </div>
              <p>
                ChocoFer Chocolatería nació del sueño y la pasión de Fernando por el arte del chocolate. Inicialmente, lo que comenzó como una pequeña producción artesanal en [Mencionar un lugar de inicio, si lo recuerdas, o algo como "un modesto taller familiar en La Paz"], rápidamente se ganó el corazón y el paladar de quienes probaban sus creaciones únicas.

Impulsado por la calidad de sus ingredientes, la innovación en sus recetas y un toque distintivo que celebraba los sabores locales [Mencionar algún ingrediente o característica local si la recuerdas, o algo como "con un guiño a los sabores bolivianos"], ChocoFer comenzó a crecer. Lo que inicialmente se vendía a amigos y familiares, pronto encontró demanda en mercados locales y ferias artesanales.

Con el tiempo, la dedicación a la excelencia y la creciente popularidad permitieron a ChocoFer expandir sus operaciones, abriendo su primera tienda física en [Mencionar una ubicación si la recuerdas, o algo como "una acogedora esquina de la ciudad"]. Este espacio se convirtió no solo en un punto de venta, sino también en un lugar donde los clientes podían experimentar de cerca la pasión por el chocolate y disfrutar de nuevas creaciones.</p>
            </div>
          </div>
          <div class="col-md-12 mt-5">
            <div class="row">
              <div class="detail-box col-md-6">
                <div class="heading_container">
                  <h2>
                    Misión
                  </h2>
                </div>
                <p>
                  Deleitar a nuestros clientes con experiencias de sabor únicas y memorables a través 
                  de la creación artesanal de chocolates de alta calidad, elaborados con pasión, 
                  ingredientes selectos y un toque distintivo boliviano. Buscamos endulzar momentos 
                  especiales, fomentar la cultura del buen chocolate y generar valor para nuestros 
                  colaboradores y la comunidad.</p>
              </div>
              <div class="detail-box col-md-6">
                <div class="heading_container">
                  <h2>
                    Visión
                  </h2>
                </div>
                <p>
                  Ser la chocolatería artesanal líder y referente en Bolivia, reconocida por nuestra 
                  excelencia en sabor, calidad e innovación. Aspiramos a expandir nuestra presencia, 
                  manteniendo nuestra esencia artesanal y compromiso con la sostenibilidad, para 
                  compartir la pasión por el chocolate boliviano con un público cada vez más amplio, 
                  tanto a nivel nacional como internacional.</p>
              </div>
            </div>
            <section class="mi-seccion-nuestra-empresa">
              <h2 class="card-title">Nuestro Equipo de Trabajo</h2>
          </div>
          <div class="col-md-12 mt-5">
            <div class="row">
              <div class="card" style="width: 18rem;">
                <img src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGVyZmlsfGVufDB8fDB8fHww" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Gerente</h5>
                  <p class="card-text">El Gerente es un líder responsable de supervisar un equipo, departamento o área específica dentro de la empresa. Su rol principal es asegurar que los objetivos se cumplan de manera eficiente y efectiva.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bWFufGVufDB8fDB8fHww" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sub Director</h5>
                  <p class="card-text">El Subdirector es un rol de liderazgo que apoya directamente al Director o Gerente General. Actúa como su mano derecha y a menudo asume responsabilidades en su ausencia.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1386479313/es/foto/feliz-mujer-de-negocios-afroamericana-millennial-posando-aislada-en-blanco.jpg?s=612x612&w=0&k=20&c=JP0NBxlxG2-bdpTRPlTXBbX13zkNj0mR5g1KoOdbtO4=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ejecutivo</h5>
                  <p class="card-text">se refiere a un empleado con un alto nivel de responsabilidad dentro de la empresa, involucrado en la toma de decisiones estratégicas y la gestión de áreas importantes.</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://media.gettyimages.com/id/1317804578/es/foto/una-empresaria-dispar%C3%B3-con-la-cabeza-sonriendo-a-la-c%C3%A1mara.jpg?s=612x612&w=gi&k=20&c=DBv7bDPaz7FeB6bE2FD-B7ZP4nJWO_JW6YdYoaymLD0=" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Secretario</h5>
                  <p class="card-text">La Secretaria proporciona apoyo administrativo y organizativo esencial para el buen funcionamiento de la empresa o de un departamento específico.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{{ url_for('static',filename='template//images/Sobre-img.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end Sobre section -->


    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row info_form_social_row">
          <div class="col-md-8 col-lg-9">
            <div class="info_form">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button>
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-lg-3">

            <div class="social_box">
              <a href="https://www.facebook.com/paratichocolates/?locale=es_LA">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://x.com/chocolatebaure">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/elceibo.bolivia/?hl=es">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row info_main_row d-flex justify-content-between">
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h4>
                Menu
              </h4>
              <div class="info_links_menu">
                <a href="{{ url_for('home') }}">
                  Inicio
                </a>
                <a href="{{ url_for('quienes_somos') }}">
                  Quienes Somos
                </a>
                <a href="{{ url_for('servicios') }}">
                  Servicios
                </a>
                <a href="{{ url_for('noticias') }}">
                  Noticias
                </a>
                <a href="{{ url_for('contacto') }}">
                  Cotacto
                </a>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <h4>
              Contactanos
            </h4>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Ubicación
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  llame a +591 77678377
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  ChocoFer@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

  </div>

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="col-md-11 col-lg-8 mx-auto">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <b>ChocoFer</b>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script  src="{{ url_for('static', filename='template/js/jquery-3.4.1.min.js') }}"></script>
  <!-- bootstrap js -->
  <script  src="{{ url_for('static', filename='template/js/bootstrap.js') }}"></script>
  <!-- slick slider -->
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script  src="{{ url_for('static', filename='template/js/custom.js') }}"></script>

</body>

</html>